body {
	background-color: #000;
font-family: Otama.ep, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h2 {
	color: #ffffff;
	font-size: 70px; 
}


.hero {
	background-image: url('236.gif');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 5px #000;
}


p {
	color: #ffffff;
	font-size: 2rem;
}

.hero a {
	color: #FFF;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: #FFF;
	font-size: 15px;
}
