body {
	background-color: #000;
	font-family: Otama.ep, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
h2 {
	color: #ffffff;
	font-size: 70px; 
}
.hero {
	background-image: url('236.gif');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 5px #000;
}
p {
	color: #ffffff;
	text-align: left;
	font-size: 15px;
}
.btn.btn-primary {
font-family: 'Otama.ep', sans-serif;
padding: 0 50px;
	border-radius: 5px;
text-decoration:none;
color: #ffffff;
background-color: #555;
font-size: 30px;
}

.btn.btn-primary:hover {
  color: #000000;
  background-color: #000000;
}

