body {
	background-color: #000;
font-family: Otama.ep, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
h2 {
	color: #ffffff;
	font-size: 70px; 
}
.hero {
	background-image: url('236.gif');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 5px #000;
}
p {
	color: #ffffff;
	font-size: 2rem;
}

.btn.btn-primary {
font-family: Otama.ep, serif;
text-align: center;
  border-radius: 0px;
  border: 1000px;
border-color: #fff;
  color: #000;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #000;
}

.btn-secondary {
  background-color: #000;
  color: #ffffff;
  margin: 30 30 30px;
}
#footer {
	color: #FFF;
	font-size: 15px;
}
