body {
font-family: Otama.ep,sans-serif;
font-size:15px;
line-height:1.5;
overflow-x:hidden;
height: 95%;
    background-image: url('236.gif');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

